- options = [['Unapplicable', 'unapplicable'], ['Open', 'open'], ['Started', 'started'], ['Finished', 'finished']]
%li 
  .wrapper
    = form_for([@site, page.section, page], :remote => true) do |f| 
      .page_status
        .field.status
          = f.label "D", :title => :design_status, :class => page.design_status
          = f.select :design_status, options
        .field.status
          = f.label "C", :title => :content_status, :class => page.content_status
          = f.select :content_status, options
        .field.status
          = f.label "F", :title => :frontend_status, :class => page.frontend_status
          = f.select :frontend_status, options
        .field.status
          = f.label "B", :title => :backend_status, :class => page.backend_status
          = f.select :backend_status, options
      .field.name
        = f.label :name
        = f.text_field :name
      .field.path
        = f.label :path 
        = f.text_field :path
      .field.parent
        = f.label :parent
        = f.select :parent_id, [" "] + page.section.pages.map { |p| if p.id != page.id then [p.name, p.id] end }
      .actions
        .pagesubmit
          = f.submit "Save"
        %button
          =  link_to 'Delete', [@site, page.section, page],
            :confirm => 'Are you sure?',
            :class => 'delete_page',
            :method => :delete,
            :remote => true
  - subpages = Page.by_parent(page.id)
  -unless subpages.empty?
    %ul
      - subpages.each do |subpage|
        = render subpage

